In [1]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [2]:
bob[0], sue[2]

('Bob Smith', 40000)

In [3]:
bob[0].split()[-1]

'Smith'

In [4]:
sue[2] *= 1.25

In [5]:
sue

['Sue Jones', 45, 50000.0, 'hardware']

In [6]:
people = [bob, sue]

In [7]:
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

In [8]:
people[1][0]

'Sue Jones'

In [9]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.20

Smith
Jones

In [10]:
for person in people:
    print(person[2])

36000.0
60000.0

In [11]:
pays = [person[2] for person in people]

In [12]:
pays

[36000.0, 60000.0]

In [13]:
pays = map((lambda x: x[2]), people)

In [14]:
list(pays)

[36000.0, 60000.0]

In [15]:
sum( person[2] for person in people)

96000.0

In [16]:
people.append(['Tom', 50, 0, None])

In [17]:
len(people)

3

In [18]:
people[-1][0]

'Tom'

In [19]:
Name, AGE, PAY = range(3)

In [20]:
bob = ['Bob Smith', 42, 10000]

In [21]:
bob[Name]

'Bob Smith'

In [22]:
PAY, bob[PAY]

(2, 10000)

In [23]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]

In [24]:
people = [bob, sue]

In [25]:
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [26]:
[ person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [27]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1] *= 1.10

Smith
Jones

In [28]:
for person in people:
    print(person[2])

['pay', 11000.0]
['pay', 22000.0]

In [29]:
for person in people:
    for (name, value) in person:
        if name == 'name':
            print(value)

Bob Smith
Sue Jones

In [30]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue

In [31]:
field(bob, 'name')

'Bob Smith'

In [32]:
field(sue, "pay")

22000.0

In [ ]:
for rec in people:
    print(field(rec, 'age'))